.whole_div {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
}

.sample_no1 {
  /* margin-top: 20px; */
  margin-right: 15px;
  vertical-align: middle;
}

.sample_no2 {
  /* margin-top: 20px; */
  margin-left: 15px;
  vertical-align: middle;
}
